{% extends 'base.html' %}
{% load static %}

{% block content %}
<a href = "{%url 'Conferences_url' data.Conference_id%}" >
    <div class = Conference_div>
    {%if data.ConferenceMembersCount > 0 %}
    <img class = "imagebusket" src= 'http://localhost:9000/conferencesimgs/full_basket.png'>
        <div class="basket_count">{{data.ConferenceMembersCount}}</div>
    {%else%}
    <img class = "imagebusket" src= 'http://localhost:9000/conferencesimgs/empty_basket.png'>
    {%endif%}
</div>
</a>
<form action = "{%url 'main_url'%}" method = get>
    <input name = "search_author" type = "text" class = SearchAuthor value="{{ search_author }}" placeholder = "Поиск по сайту" autocomplete="off"></input>
</form>

<ul class = "Authors_list">
    {% for Author in data.Authors %}
            <a class = "Authors_link" href="{% url 'Author_url' Author.id %}">
                <div class = "divauthor">
                    <img class = "author_card_img" src = "{{Author.image}}" >
                    <div class = "author_card_data">
                        <div class = "author_card_name"> {{Author.name}}</div> 
                        <div class = "author_card_department"> {{Author.department}}</div>
                    </div> 
                </div>
            </a> 
    {% empty %}
        <li>Список пуст</li>
    {% endfor %}
</ul>

{% endblock %}