{% extends 'base.html' %}
{% load static %}

{% block content %}

<ui class = "Conference_dscr">
    <div class = "Conference_subheader"> Тема конференции:</div>
    <div class = "Conference_theme"> {{ data.cur_conference.theme }}</div>
    <ui class = "ConferenceParamBox"></div>
        <div class = "ConferenceParamText"> Начало:</div>
        <input name = "StartDate" type = "text" class = ConferenceParamsInp value="{{ data.cur_conference.Start_Date }}" autocomplete="off"></input>
    </ui>
    <ui class = "ConferenceParamBox"></div>
        <div class = "ConferenceParamText"> Конец:</div>
        <input name = "EndDate" type = "text" class = ConferenceParamsInp value="{{ data.cur_conference.End_date }}" autocomplete="off"></input>
    </ui>
</ui>


<ul class = "Conference_card_list">
    {% for Author in data.Authors %}
        <div class = "Conference_author_rectangle">
            <img class = "Conference_card_img" src = "{{Author.image}}" >
            <div class = "Conference_card_name"> {{Author.name}}</div> 
            <div class = "leader_text"> Руководитель:</div>

            {%if data.cur_conference.LeaderId == Author.id %}
                <label><input type="checkbox" class="leader_checkbox" checked></label>
            {%else%}
                <label><input type="checkbox" class="leader_checkbox" ></label>
            {%endif%}
            <div class = "Conference_card_department"> {{Author.department}}</div> 
        </div>
    {% endfor %}
</ul>

{% endblock %}