{% extends 'base.html' %}
{% load static %}

{% block content %}

<ui class = "Conference_dscr">
    <div class = "Conference_subheader"> Тема конференции:</div>
    <div class = "Conference_theme"> {{ data.cur_conference.theme }}</div>
    <ui class = "ConferenceParamBox"></div>
        <div class = "ConferenceParamText"> Начало:</div>
        <input name = "StartDate" type = "text" class = ConferenceParamsInp value="{{ data.conf_start_date }}" autocomplete="off"></input>
    </ui>
    <ui class = "ConferenceParamBox"></div>
        <div class = "ConferenceParamText"> Конец:</div>
        <input name = "EndDate" type = "text" class = ConferenceParamsInp value="{{ data.conf_end_date }}" autocomplete="off"></input>
    </ui>
    <ui class = "ConferenceParamBox"></div>
        <div class = "MembersCountText"> Количество участников:</div>
        <div  class = "MembersCount" >{{ data.members_count }}</div>
    </ui>
    <ui class = "ConferenceParamBox"></div>
        <div class = "ReviewResultText"> Результат рецензирования:</div>
        <div  class = "ReviewResult" >{{ data.conf_review_result }}</div>
    </ui>
    <form action = "{%url 'delete_conference_url' data.id%}" method = post>
        {% csrf_token %}
        <button name = "delConfBtn" type = "submit" class = "delConfBtn">Удалить конферецию</button>
    </form>
</ui>


<ul class = "Conference_card_list">
    {% for Author in data.Authors %}
        <div class = "Conference_author_rectangle">
            <img class = "Conference_card_img" src = "{{Author.image}}" >
            <div class = "Conference_card_name"> {{Author.name}}</div> 
            <div class = "manager_text"> Руководитель:</div>
            {%if Author.isCorresponding == True%}
            <label><input type="checkbox" class="manager_checkbox" id="happy" name="happy" checked></label>
            {%else%}
            <label><input type="checkbox" class="manager_checkbox" id="happy" name="happy"></label>
            {%endif%}
            <div class = "Conference_card_department"> {{Author.department}}</div> 

        </div>
    {% endfor %}
</ul>

{% endblock %}