{% extends 'base.html' %}
{% load static %}

{% block content %}
<a href = "{%url 'Conferences_url' data.Conference_id%}" >
    <div class = Conference_div>
    {%if data.ConferenceMembersCount > 0 %}
    <img class = "imagebusket" src= 'http://localhost:9000/autorsimgs/full_basket.png'>
        <div class="basket_count">{{data.ConferenceMembersCount}}</div>
    {%else%}
    <img class = "imagebusket" src= 'http://localhost:9000/autorsimgs/empty_basket.png'>
    {%endif%}
</div>
</a>
<form action = "{%url 'main_url'%}" method = get>
    <input name = "search_scientist" type = "text" class = SearchScientists value="{{ search_scientist }}" placeholder = "Поиск по сайту" autocomplete="off"></input>
</form>

<ul class = "scientists_list">
    {% for Scientist in data.Scientists %}
            <a class = "scientists_link" href="{% url 'Scientist_url' Scientist.id %}">
                <div class = divscientist>
                    <img class = "scientist_card_img" src = "{{Scientist.image}}" >
                    <div class = "scientist_card_data">
                        <div class = "scientist_card_name"> {{Scientist.name}}</div> 
                        <div class = "scientist_card_department"> {{Scientist.department}}</div>
                    </div> 
                </div>
            </a> 
    {% empty %}
        <li>Список пуст</li>
    {% endfor %}
</ul>

{% endblock %}