{% extends 'base.html' %}

{% block content %}
<div class = "single_scientist"> 
    <div class = "single_scientist_name">{{data.Scientist.name}}</div>
    <img class = "single_scientist_image" src = "{{data.Scientist.image}}">
    <div class = "single_scientist_description">Научные интересы: {{data.Scientist.description}}</div>
    <div class = "single_scientist_department">Кафедра: {{data.Scientist.department}}</div>
    <div class = "single_scientist_birthdate">Дата рождения: {{data.Scientist.birthdate}}</div>
</div>
{% endblock %}